/* ==========================================================================
   Mobile
   ========================================================================== */

@media screen and (max-width: 767px) {
  :root {
    --page-padding: 1rem;
  }
}

/* ==========================================================================
   Tablet
   ========================================================================== */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --page-padding: 1.5rem;
  }
}

/* ==========================================================================
   Desktop
   ========================================================================== */

@media screen and (min-width: 1025px) {
  :root {
    --page-padding: 2rem;
  }
}